/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth; }

body {
  background: white;
  overflow-x: hidden; }
  body header {
    z-index: 1000;
    background: transparent;
    margin-bottom: 10px;
    background: #393cb0; }
    body header .navbar-brand {
      margin-left: 20px;
      color: white !important;
      padding-bottom: 12px; }
    body header .navbar-brand:hover {
      text-decoration: none; }
    body header a {
      color: white;
      font-family: 'Adamina', serif;
      outline: 0; }
    body header .navbarLogo a {
      font-family: 'Kaushan Script', cursive;
      font-size: 40px; }
    body header .navbarLogo a:hover {
      text-decoration: none; }
  body #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    background: linear-gradient(180deg, white 0%, #c2c1c1 100%);
    z-index: 9999; }
    body #overlay .cssload-loader {
      width: 625px;
      height: 125px;
      line-height: 125px;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      font-family: helvetica, arial, sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 45px;
      background: #ff6700;
      background: linear-gradient(93deg, #ff6700 0%, #f16608 0%, #785a50 39%, #084f93 52%, #004e98 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.2em; }
    body #overlay .cssload-loader::before, body #overlay .cssload-loader::after {
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      background: #ff6700;
      background: linear-gradient(93deg, #ff6700 0%, #004e98 100%);
      position: absolute;
      animation: cssload-load 0.400s infinite alternate ease-in-out;
      -o-animation: cssload-load 0.400s infinite alternate ease-in-out;
      -ms-animation: cssload-load 0.400s infinite alternate ease-in-out;
      -webkit-animation: cssload-load 0.400s infinite alternate ease-in-out;
      -moz-animation: cssload-load 0.400s infinite alternate ease-in-out; }
    body #overlay .cssload-loader::before {
      top: 0; }
    body #overlay .cssload-loader::after {
      bottom: 0; }

@keyframes cssload-load {
  0% {
    left: 0;
    height: 75px;
    width: 38px; }
  50% {
    height: 20px;
    width: 100px; }
  100% {
    left: 588px;
    height: 75px;
    width: 38px; } }

@-o-keyframes cssload-load {
  0% {
    left: 0;
    height: 75px;
    width: 38px; }
  50% {
    height: 20px;
    width: 100px; }
  100% {
    left: 588px;
    height: 75px;
    width: 38px; } }

@-ms-keyframes cssload-load {
  body #overlay 0% {
    left: 0;
    height: 75px;
    width: 38px; }
  body #overlay 50% {
    height: 20px;
    width: 100px; }
  body #overlay 100% {
    left: 588px;
    height: 75px;
    width: 38px; } }

@-webkit-keyframes cssload-load {
  0% {
    left: 0;
    height: 75px;
    width: 38px; }
  50% {
    height: 20px;
    width: 100px; }
  100% {
    left: 588px;
    height: 75px;
    width: 38px; } }

@-moz-keyframes cssload-load {
  0% {
    left: 0;
    height: 75px;
    width: 38px; }
  50% {
    height: 20px;
    width: 100px; }
  100% {
    left: 588px;
    height: 75px;
    width: 38px; } }
  body .footer-section {
    width: 100%;
    height: 200px;
    background: #393cb0;
    padding: 50px;
    margin: 0 auto;
    margin-top: 150px; }
    body .footer-section .social-networks {
      width: 200px;
      margin-bottom: 30px; }
      body .footer-section .social-networks .logo-div {
        margin-right: 24px; }
      body .footer-section .social-networks .logo-div:last-child {
        margin-right: 0; }
      body .footer-section .social-networks img {
        width: 26px; }
      body .footer-section .social-networks .inst-logo {
        width: 33px;
        margin-top: -4px; }
      body .footer-section .social-networks .linked-logo {
        margin-left: 3px;
        width: 26px; }
      body .footer-section .social-networks .git-logo {
        width: 29px;
        margin-top: -1px;
        margin-left: -3px; }
      body .footer-section .social-networks .last-a {
        margin-right: 0px; }
    body .footer-section .copyrights {
      font-size: 20px; }
      body .footer-section .copyrights .copyrights-logo {
        padding-right: 5px; }
        body .footer-section .copyrights .copyrights-logo img {
          width: 30px; }
      body .footer-section .copyrights .ikadnl {
        margin: auto 0; }
        body .footer-section .copyrights .ikadnl p {
          position: relative;
          font-family: sans-serif;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 4px;
          overflow: hidden;
          background: linear-gradient(90deg, orange, WHITE);
          background-repeat: no-repeat;
          background-size: 80%;
          animation: animate 3s linear infinite;
          background-clip: text;
          -webkit-text-fill-color: rgba(255, 255, 255, 0); }

@keyframes animate {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }
    body .footer-section .contacts .contacts-name {
      margin-top: -10px;
      font-size: 30px;
      padding-bottom: 25px;
      color: #ff6700; }
    body .footer-section .contacts .info-type {
      padding-bottom: 10px; }
    body .footer-section .contacts .contacts-colon {
      color: #ff6700;
      padding-right: 5px;
      font-size: 20px; }
    body .footer-section .contacts .contacts-info {
      color: #ebebeb;
      font-size: 20px; }
      body .footer-section .contacts .contacts-info a {
        color: #ebebeb !important;
        outline: 0; }

.overflowh {
  overflow-y: hidden; }

.welcomeDiv {
  margin-top: 150px;
  padding-bottom: 210px; }
  .welcomeDiv .imgbo {
    z-index: 999;
    border: 8px solid #47d6cf;
    border-radius: 50%; }
    .welcomeDiv .imgbo .welcomePhoto img {
      width: 400px;
      border: solid 5px #393cb0;
      border-radius: 50%;
      margin-bottom: -3px; }
  .welcomeDiv .welcomeText {
    width: 510px;
    height: 300px;
    margin-left: -40px;
    border-radius: 13%;
    background: #393cb0;
    border: solid 4px #b7b5cc;
    z-index: 99; }
    .welcomeDiv .welcomeText p {
      color: #f1f2f4;
      margin: 20px;
      font-size: 45px;
      padding-left: 30px; }
  .welcomeDiv .welcomeButton {
    margin-top: 300px;
    margin-left: -100px; }
    .welcomeDiv .welcomeButton button {
      color: #f2f1f4;
      font-size: 24px;
      padding-top: 30px; }
    .welcomeDiv .welcomeButton .circle-button {
      height: 150px;
      width: 150px;
      background-color: #393cb0;
      border: solid 3px #b7b5cc;
      border-radius: 50%;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center; }

.section01 {
  scroll-margin-top: 65px;
  margin-top: 140px;
  color: #f2f1f4; }
  .section01 .skill-div {
    height: 300px;
    width: 350px;
    background: #393cb0;
    border-width: 40px 20px;
    border-radius: 10px 60px;
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 39px 52px 104px -15px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 39px 52px 104px -15px rgba(0, 0, 0, 0.29);
    box-shadow: 39px 52px 104px -15px rgba(0, 0, 0, 0.29); }
    .section01 .skill-div .skill-scale {
      margin-right: -8%;
      font-size: 13px; }
    .section01 .skill-div .skill-field {
      padding: 15px 0px 12px 0px;
      font-size: 25px; }
    .section01 .skill-div .skill-name {
      padding-top: 9px;
      padding-bottom: 7px;
      font-size: 17px; }
    .section01 .skill-div .skill-bar {
      height: 15px;
      width: 100%;
      background: #f2f1f4;
      border-radius: 25px; }
      .section01 .skill-div .skill-bar .english {
        width: 80%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .german {
        width: 82%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .russian {
        width: 71%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .georgian {
        width: 99.5%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .html01 {
        width: 100%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .scss {
        width: 85%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .javascript {
        width: 67%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .msoffice {
        width: 88%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .communication {
        width: 92%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .teamwork {
        width: 95%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .organized {
        width: 91%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
      .section01 .skill-div .skill-bar .creative {
        width: 120%;
        height: 100%;
        background: #afacae;
        border-radius: 25px; }
  .section01 .skill-div:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.4); }

.section-spam {
  border: 4px solid #b7b5cc;
  margin-top: 225px; }
  .section-spam .spam-box {
    width: auto;
    height: 350px;
    background: #393cb0;
    color: #ebebeb; }
    .section-spam .spam-box .spam-title {
      font-size: 40px;
      font-weight: bold; }
      .section-spam .spam-box .spam-title p {
        margin-top: 17px;
        padding: 6px;
        border: solid 4px #b7b5cc;
        color: #f1f2f4; }
    .section-spam .spam-box .spam-texts {
      padding-top: 100px;
      font-size: 21px;
      word-break: break-all; }
      .section-spam .spam-box .spam-texts .rotated45 {
        transform: rotate(45deg); }
      .section-spam .spam-box .spam-texts .rotated60 {
        transform: rotate(60deg); }
      .section-spam .spam-box .spam-texts .rotated-30 {
        transform: rotate(-30deg); }
      .section-spam .spam-box .spam-texts .rotated-45 {
        transform: rotate(-45deg); }
      .section-spam .spam-box .spam-texts .red {
        color: #ff6700; }
      .section-spam .spam-box .spam-texts .blue {
        color: yellow; }

.section01-projects {
  scroll-margin-top: 65px;
  margin-top: 150px; }
  .section01-projects p {
    color: black; }
  .section01-projects .projects-text {
    width: 100%;
    text-align: center;
    margin-bottom: 75px; }
    .section01-projects .projects-text .pr-text {
      font-size: 44px; }
    .section01-projects .projects-text .pr-info {
      font-size: 20px;
      margin-top: 30px;
      color: #afacae; }
  .section01-projects .project {
    width: 320px;
    margin-bottom: 150px;
    background: white;
    padding: 15px;
    border-radius: 30px;
    -webkit-box-shadow: 43px 21px 84px 11px rgba(175, 172, 174, 0.21);
    -moz-box-shadow: 43px 21px 84px 11px rgba(175, 172, 174, 0.21);
    box-shadow: 43px 21px 84px 11px rgba(175, 172, 174, 0.21); }
    .section01-projects .project .embed-content img {
      padding: 10px;
      width: 130px;
      transition: all 0.2s ease-in-out; }
    .section01-projects .project .embed-content img:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.05); }
    .section01-projects .project .embed-content a {
      outline: 0; }
    .section01-projects .project .embed-content #ulala-geo:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.25); }
    .section01-projects .project .embed-name {
      text-align: center;
      font-size: 26px;
      padding: 10px 0;
      background: #393cb0; }
      .section01-projects .project .embed-name p {
        color: white; }
    .section01-projects .project .embed-info {
      text-align: center;
      padding: 30px 15px; }
    .section01-projects .project .embed-button {
      text-align: end; }
      .section01-projects .project .embed-button a {
        outline: none;
        outline: 0;
        text-decoration: none;
        color: #393cb0;
        font-size: 20px;
        padding: 0 20px 20px 0;
        font-weight: lighter; }
  .section01-projects .project-a p {
    color: #f2f1f4; }
  .section01-projects .project-a .embed-content-a {
    width: 100%; }
  .section01-projects .project-a .embed-text-a {
    margin-left: -5px;
    margin-bottom: 5px;
    background: #393cb0;
    padding-bottom: -5px; }
    .section01-projects .project-a .embed-text-a .embed-name-a {
      padding: 40px;
      font-size: 30px; }
    .section01-projects .project-a .embed-text-a .embed-info-a {
      padding: 0 20px 20px 40px; }

.section01-cv {
  scroll-margin-top: 65px;
  margin-top: 150px;
  color: #f1f2f4; }
  .section01-cv .shd-left {
    -webkit-box-shadow: 91px 58px 99px -28px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 91px 58px 99px -28px rgba(0, 0, 0, 0.19);
    box-shadow: 91px 58px 99px -28px rgba(0, 0, 0, 0.19); }
  .section01-cv .shd-right {
    -webkit-box-shadow: -92px 58px 99px -28px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -92px 58px 99px -28px rgba(0, 0, 0, 0.19);
    box-shadow: -92px 58px 99px -28px rgba(0, 0, 0, 0.19); }
  .section01-cv .section-box {
    position: relative;
    width: 300px;
    height: 200px;
    background: #393cb0;
    margin-bottom: 50px;
    transition: all 1000ms linear;
    border-radius: 60px 20px; }
    .section01-cv .section-box .name-box {
      font-size: 20px;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 40px; }
    .section01-cv .section-box #myDIV {
      display: none; }
      .section01-cv .section-box #myDIV .ucompany {
        font-size: 20px;
        font-weight: bolder; }
      .section01-cv .section-box #myDIV .work-line {
        padding-right: 30px;
        border-right: #47d6cf solid 3px;
        border-bottom: #47d6cf solid 3px; }
        .section01-cv .section-box #myDIV .work-line .company-name {
          padding-bottom: 15px;
          font-weight: bolder; }
        .section01-cv .section-box #myDIV .work-line .info-date {
          padding: 15px 0; }
        .section01-cv .section-box #myDIV .work-line .info-box {
          padding-bottom: 15px; }
    .section01-cv .section-box .more-button {
      height: 40px;
      width: 80px;
      background-color: #47d6cf;
      color: #f2f1f4;
      border-radius: 10px;
      border: none;
      position: absolute;
      top: 50%;
      left: 35%; }
    .section01-cv .section-box .close-button {
      display: none;
      height: 40px;
      width: 80px;
      background-color: #47d6cf;
      color: #f2f1f4;
      border-radius: 10px;
      border: none;
      position: absolute;
      top: 25px;
      right: 30px; }
  .section01-cv .section-box:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05); }
  .section01-cv .section-box:last-child {
    margin-bottom: 0px; }

.section01-interview {
  margin-top: 100px; }
  .section01-interview .title-box {
    width: 100%; }
    .section01-interview .title-box .interview-title {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      font-size: 40px; }
      .section01-interview .title-box .interview-title p {
        color: black; }

.section02-interview {
  margin-top: 30px; }
  .section02-interview .dialogue-box {
    overflow-y: auto;
    height: 400px;
    overflow-x: hidden;
    border-bottom: solid 3px #393cb0;
    margin-bottom: 30px; }
    .section02-interview .dialogue-box .irakli {
      margin-top: 20px;
      width: 100%; }
      .section02-interview .dialogue-box .irakli .irakli-photo {
        padding-right: 20px; }
        .section02-interview .dialogue-box .irakli .irakli-photo img {
          width: 90px;
          padding-top: 22px; }
      .section02-interview .dialogue-box .irakli .myname {
        margin-bottom: 10px;
        font-size: 20px; }
        .section02-interview .dialogue-box .irakli .myname p {
          color: black; }
      .section02-interview .dialogue-box .irakli .irakli-text {
        word-wrap: break-word;
        width: 600px;
        height: auto;
        padding: 17px;
        font-size: 18px;
        line-height: 25px;
        background: #393cb0; }
    .section02-interview .dialogue-box .interviewer {
      margin-top: 20px;
      width: 100%; }
      .section02-interview .dialogue-box .interviewer .interviewer-photo {
        padding-left: 20px; }
        .section02-interview .dialogue-box .interviewer .interviewer-photo img {
          width: 90px; }
      .section02-interview .dialogue-box .interviewer #int-txt {
        width: 600px;
        font-size: 18px;
        line-height: 25px;
        height: auto;
        padding: 17px;
        background: #47d6cf; }
        .section02-interview .dialogue-box .interviewer #int-txt p {
          color: white; }
  .section02-interview .qbox {
    width: 100%; }
    .section02-interview .qbox .question-title {
      font-size: 24px;
      text-align: end;
      margin-bottom: 15px; }
      .section02-interview .qbox .question-title p {
        color: black; }
    .section02-interview .qbox .dialogue-input {
      background: #393cb0;
      border-radius: 10px; }
      .section02-interview .qbox .dialogue-input a {
        outline: none;
        text-decoration: none;
        color: #ebebeb; }
      .section02-interview .qbox .dialogue-input .input-d-box {
        font-size: 22px;
        padding: 10px;
        border-right: solid 10px #47d6cf;
        border-bottom: solid 3px #47d6cf;
        margin-bottom: 10px;
        text-align: end; }
      .section02-interview .qbox .dialogue-input .input-d-box:hover {
        width: 100%;
        background: #47d6cf;
        border-radius: 10px; }
